.image_youtube_section:hover span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #000000b3;
}

.carousel {
  width: 90% !important;
}

@media (min-width: 768px) {
  .carousel {
    width: 40% !important;
  }   
}